<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.com.main"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="19" />

    <application
        android:icon="@drawable/icone_sniubook_menor"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".TelaMainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity android:name=".TelaRegistrar" >
        </activity>

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity android:name=".TelaPerfil" >
        </activity>
        <activity
            android:name=".TelaAvaliarCurso"
            android:label="@string/title_activity_tela_avaliar_curso" >
        </activity>
        <activity
            android:name=".TelaPrincipal"
            android:label="@string/title_activity_tela_principal" >
        </activity>
        <activity
            android:name=".TelaAvaliarDisciplina"
            android:label="@string/title_activity_tela_avaliar_disciplina" >
        </activity>
        <activity
            android:name=".TelaAvaliarProfessor"
            android:label="@string/title_activity_tela_avaliar_professor" >
        </activity>
        <activity
            android:name=".TelaDisciplinasCurso"
            android:label="@string/title_activity_tela_disciplinas_curso" >
        </activity>
        <activity
            android:name=".TelaProfessoresCurso"
            android:label="@string/title_activity_tela_professores_curso" >
        </activity>
    </application>

    <uses-permission android:name="android.permission.INTERNET" />

</manifest>
